/* Importing Google Font - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #11031f4e; /* Changed background color */
}

.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 10 70px 55px;
}

.card-list .card-item {
  height: auto;
  color: #000000;
  user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.card-list .card-item .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 3px solid #000000;
  padding: 4px;
}

.card-list .card-item .user-profession {
  font-size: 1.15rem;
  color: #000000;
  font-weight: 500;
  margin: 14px 0 40px;
}

.card-list .card-item .user-exp {
  padding: 20px; /* Add padding for better spacing */
  font-size: 1rem; /* Adjust font size for readability */
  color: #000000; /* Subtle color for better readability */
  line-height: 1.5; /* Increase line height for better spacing */
  border-top: 1px solid rgba(32, 0, 0, 0.3); /* Add a subtle top border */
  margin-top: 20px; /* Add margin to separate from other elements */
}


.card-list .card-item .message-button {
  font-size: 1.25rem;
  padding: 10px 35px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.card-list .card-item .message-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #000000;
  color: #000000;
}

.slider-wrapper .swiper-pagination-bullet {
  background: #000000;
  height: 13px;
  width: 13px;
  opacity: 0.5;
}

.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.slider-wrapper .swiper-slide-button {
  color: #8800ff;
  margin-top: -55px;
  transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
  color: #4658ff;
}

@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}

.message-button {
  display: inline-block;
  padding: 12px 40px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 600;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  text-decoration: none;
  transition: all ease 0.5s;
  cursor: pointer;
}

.message-button a {
  color: var(--text-color);
  text-decoration: none;
}

.message-button:hover {
  background: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  transform: translateX(5px);
}

.message-button:hover a {
  color: var(--main-color);
}

.card-list .card-item .user-name {
  color: #000; /* Set the text color to black */
}


